.homePageSection {
  position: relative;
  min-height: 90vh;
  background-color: aliceblue;
  background-image: url('../../images/phone.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

.title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #2f65a0;
}
