.userMenuContainer {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-left: auto;
}
.userName {
  color: #ffffff;
}

.userLogOutBtn {
  box-sizing: border-box;
  width: 110px;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;

  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
  border-radius: 8px;
}
